<!--{{yield}}-->
<div class="map">
 
<img 
alt = "Un mapa con sus coordenadas {{@x}}, {{@y}}, {{@z}}"
...attributes
src = "https://maptiles.p.rapidapi.com/es/map/v1/{{@z}}/{{@x}}/{{@y}}.png?rapidapi-key=b7ab4a7f0fmsh88285749f3ef147p14ce6cjsn1b1d0ff17bbd"
width={{@width}}
height={{@height}}
/>
</div>